
.today_total {display:none; visibility:hidden;cursor: pointer;}
.today_single {cursor: pointer;}
table.showtotals .today_single {display:none; visibility:hidden;}
table.showtotals .today_total {display:inline; visibility:visible;}



.char_count {color:green; padding-left:10px;}
.char_count.close {color:orange;}
.char_count.over {color:red;}



/* transaction total span */
span.hh_transaction-total {
    padding-left: 10px; margin-left:10px; display:inline-block;
      font-size: 1.2em !important; line-height: 1.5 !important;
}

/* hide and show transaction on history page */
span.hh_toggle-failed-transactions {
    display:block; color:blue; text-decoration: underline; cursor: pointer !important;
}
table.hh_hide-failed-transactions tr.hh_failed-transaction {
    display:none !Important; visibility:hidden !Important;
}

/* prevent wrap of symbol link */
table.hh_hide-failed-transactions tr td:nth-child(3) {
    white-space: nowrap;
}



.hh_league-navigation {font-size:14px;  float:right;}
.hh_league-navigation a {color:blue; text-decoration:none; font-weight:normal; cursor:pointer;}
h1 .hh_league-navigation {line-height:28px; height:28px; display:block;}
h3 .hh_league-navigation {text-transform:lowercase;}





/* row highligh */
tbody tr:hover {background-color: #FCF8E3 !important;}